
@{
    ViewBag.Title = "Brisanje studenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" role="alert">Student uspješno obrisan!</div>

@Html.ActionLink("Povratak na popis studenata", "Popis")