
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PAUP viježba 3</h2>

Aplikacija o studentima
<br />
Fakultet: @ViewBag.Fakultet
<br />
<br />
Popis Studenanta @Html.ActionLink("link", "Popis")